@page "/"

<PageTitle>Home</PageTitle>

<h5>PASO1: Crear una nueva tabla donde tengamos distintos elementos.a
    <br />
    1.- Nombre ( Animes)
    <br />
    2.- EStatus(Emision, Finalizado)
    <br />
    3.- Cantidad Capitulos
    <br />
    4.- Num.Temporadas 
    <br />
</h5> 
<h5>
    PASO2: Insertar almenos 15 registros. Con valores diferentes:
    <br />
    Osea: Cantidad de Temporadas 1 , 2 y hasta 3.
    <br />
    Capitulos. 12,24, 300
    <br />
    Y diferentes Emisiones.
    <br />
</h5>

<h5>
    Condiciones:
    <br />
    1.- El listado de ANimes. Solo los podras obtener cuando recien cargue la pagina.  
    <br />
</h5>
<h5>
    Objetivos, Crear tablas con las sigueintes condiciones:
    <br />
    1.- Mostrar El total de listados
    <br />
    2.- Mostrar Solo Animes en Emision
    <br />
    3.- Mostra Animes que no esten en el listado de Emision. Sin validar el Estatus.
    <br />
    4.- Mostrar animes que esten en el punto 3 que tengan mas de 1 temporada.
    <br />
    5.- Mostrar Animes en Emision  que tengan mas de 24 capitulos y menos de 100. pero que solo tengan 1 temporada
</h5>

